<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AASLR</title>
</head>

<header class="header">
    {{#link "sign_in" class="sign-in"}}
    {{t 'sign_in'}}
    {{/link}}

    <h1>Solicitação de serviços</h1>

    <a href="https://solicita.rivierasl.com.br/hc/pt-br">
        <img src={{asset 'Logo.png' }} alt="" class="logo-header">
    </a>
</header>

<body>
    <div class="container">
        <img src={{asset 'Logo.png' }} alt="" class="logo-home">
        <h4>ASSOCIAÇÃO DOS AMIGOS DA</h4>
        <img src={{asset 'logo-name.png' }} alt="" class="logo-name">

        <a href="https://solicita.rivierasl.com.br/hc/pt-br/requests/new" target="_blank" class="submit-request">
            <img src={{asset 'e-mail.png' }} alt="" class="email-icon"><br>
            Enviar Soicitação
        </a>
    </div>
</body>

<footer class="footer">
    <h3>Assuntos Frequentes</h3>

    <div class="footer-content">
        <div class="ouvidoria">
            <a href="https://solicita.rivierasl.com.br/requests/new?ticket_form_id=24686760908955">Ouvidoria</a>
        </div>

        <div class="content">
            <a href="">Financeiro</a>
            <a href="">Fiscalização de obras</a>
            <a href="">Manutenção</a>
            <a href="">Meio ambiente</a>
        </div>

        <div class="content">
            <a href="">Relacionamente</a>
            <a href="">Saneamento</a>
            <a href="">Segurança</a>
        </div>

        <div class="contacts">
            <a href=""><img src={{asset 'whatsapp.png' }} alt=""></a>
            <a href=""><img src={{asset 'sms.png' }} alt=""></a>
        </div>
    </div>
</footer>

</html>